ColumnLimit: 150
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
